@import './Variables.scss';

.adress-wrap {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.adress {
  display: flex;
  flex-direction: column;
}

.adress__p {
  text-align: left;
  margin-left: 20px;
}

.adresses {
  margin: 80px 0;
  padding-bottom: 100px;
  &__title {
    color: $orange;
    text-shadow: 1px 0 0 black;
    font-size: 30px;
  }
}