@import './Mixins.scss';

.card {
  background-color: #F8F9F9;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 20px;
  @include onDesktop {
    @include CardHover;
    height: 300px;
  }
}

.card__image {
  height: 70%;
  width: 100%;
  position: relative;
  z-index: 10000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.card__title {
  text-align: center;
  color: inherit;
    text-decoration: none;
}
