@import '../components/Variables.scss';
@import '../components/Mixins.scss';

.ourMission {
  text-align: center;
  &__title {
    @include onTablet {
      font-size: 40px;
    }
  }
  &__subtitle {
    @include onTablet {
      font-size: 30px;
      text-align: center;
    }
  }
}

.ourMission p {
  @include onTablet {
    font-size: 20px;
  }
}

.last {
  margin-bottom: 80px;
}

.touch {
  background-image: url('https://cu1.uicdn.net/562/5afca22f4ec1bb87e04756f07daf7/webapp/34383-stage_PSA-Benny_US-CA.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  border-radius: 40px;
  margin: 40px 0;
  @include onTablet {
    height: 700px;
    border-radius: 60px;
    margin: 60px 0 100px;
  }
}

.privacyUl li {
  font-size: 15px;
  padding: 0;
}