@import './Variables.scss';
@import './Mixins.scss';

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $greymedium;
  height: 100px;
  padding: 0 20px;
  flex-shrink: 0;
  @include onTablet {
    height: 150px;
    padding: 0 40px;
  }
}
.li-a {
  font-size: 10px;
  @include onTablet {
    font-size: 16px;
    margin: 10px;
  }
  color: #fff;
  margin: 0;
  padding: 0 10px;
  border-right: 1px solid #fff;
}

.li {
  margin: 0;
  height: auto;
  
}
.ul {
  display: contents;
}