@import "../components/Variables.scss";
@import "../components/Mixins.scss";

.itemWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @include onDesktop {
    padding: 40px;
  }
  &__button {
    background: $greymedium;
    color: #E6E6FA;
    border-radius: 19px;
    border: none;
    height: 40px;
    width: 150px;
    font-size: 13px;
    cursor: pointer;
    @include onDesktop {
      &:hover {
        background-color: $greymax;
        transition: 0.3s;
      }
    }
  }
  &__image {
    width: auto;
    max-width: 100%;
    height: 300px;
    margin: 20px 0;
    @include onDesktop {
      height: 600px;
      margin: 40px 0;
    }
  }
  &__p {
    text-align: left;
    font-size: 15px;
    width: 100%;
  }
  &__price {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    color: $greymax;
  }
  &__description {
    text-align: left;
    font-size: 15px;
    border-bottom: 1px solid #49796B;
    color: $greymax;
    text-shadow: 1px 1px 0 white;
    @include onDesktop {
      font-size: 25px;
    }
  }
}

.arrowWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  
}

.arrow {
  width: 30px;
  height: 30px;
}

.itemWrapperMain {
  width: 100%;
  margin-bottom: 100px;
  &__h2 {
    color: $greymax;
    font-size: 20px;
    text-align: center;
    @include onDesktop {
      margin: 60px 0;
      font-size: 30px;
    }
  }
}

.addtoCartWrap {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 50px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.setIsErrorLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: appearance 1s forwards linear;
  width: 100%;
  height: 60px;
  @include onTablet {
    margin: 50px 0;
  }
  @include onDesktop {
    margin: 200px 0;
    position: absolute;
    top: 60px;
  }
}
.errorHidden {
  opacity: 0;
  height: 60px;
  pointer-events: none;
  @include onTablet {
    position: absolute;
  }
}

.error {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ErrorImage {
  width: 30px;
  height: 30px;
}

.errorP {
  color: #568203;
  display: flex;
  cursor: pointer;
  font-size: 12px;
  margin: 20px;
  text-shadow: 1px 0 0 white;
}

.errorM {
  color: #DF564B;
  display: flex;
  cursor: pointer;
  font-size: 12px;
  margin: 20px;
  text-shadow: 1px 0 0 white;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.additionalInfo {
  width: 100%;
  color: $greymax;;
  &__description {
    text-align: left;
    font-size: 15px;
    border-bottom: 1px solid $greymax;
    color: $greymax;
    text-shadow: 1px 1px 0 white;
    width: max-content;
    @include onDesktop {
      font-size: 25px;
    }
  }
  &__p {
    margin: 0;
    text-align: left;
    font-size: 12px;
    @include onDesktop {
      font-size: 15px;
    }
  }
}