@import './Variables.scss';
@import './Mixins.scss';

.containerPagination {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.pagination {
  display: flex;
  padding: 0;
  cursor: pointer;
  margin-bottom: 50px;
}

.li_active {
  background-color: $greymedium;
  color: white;
  border-radius: 10px;
}

.a_active {
  color: white!important;
}

.li {
  padding: 0 10px;
  margin: 5px;
}

.page-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
}

.page-link {
 font-size: 10px;
 color: $greymedium;
 
 @include onTablet {
  font-size: 20px;
}
}
.btn {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  font-size: 15px;
  height: 50px;
  background-color: $greymedium;
  color: $light;
  margin: 3px;
  cursor: pointer;
  @include onTablet {
    font-size: 20px;
  }
}

.is-active {
  transition: 0.3s;
  background-color: $greymedium;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  @include onTablet {
    font-size: 20px;
  }
}

.categoriess {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px 0;
  @include onDesktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.lead {
  color: $greymax;
}
label, select {
  color: $greymedium;
  margin: 4px 0;
  @include onTablet {
    font-size: 20px;
  }
}
.line {
  width: 100%;
  height: 1px;
  background-color: $greymedium;
  margin: 20px 0;
}

.gridProducts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0;
  @include onDesktop {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.category-title {
  font-size: 30px;
    color: $greymedium;
    text-shadow: 1px 1px 0 white;
    margin: 40px auto 20px;
}

.filter-title {
  color: $greymax;
  text-shadow: 1px 0 0 white;
  @include onTablet {
    font-size: 30px;
  }
}