@import './Mixins.scss';

.perks {
  display: grid;
  border-bottom: 1px solid #E8E8E8;
  margin: 70px 0;
  @include OnPhone {
    grid-template-columns: 1fr;
  }
  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.perk-title {
  text-align: center;
  margin-top: 80px;
}