@import './Mixins.scss';

.popular {
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
}

.grid-tablet {
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

.grid-mobile {
  @include OnPhone {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
  }
}

.grid-bottom {
  @include OnPhone {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
  }
}

.grid-1-2 {
  grid-template-columns: 1/2;
}

.grid-1-3 {
  grid-template-columns: 1/3;
}