@import './Variables.scss';
@import './Mixins.scss';

.form {
  background-image: url('../icons/flower.webp');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 50px;
  &__title {
    @include onDesktop {
      font-size: 30px;
    }
  }
  @include onTablet {
    padding: 40px;
  }
  @include onDesktop {
    padding: 60px;
    height: 400px;
    border-radius: 40px;
    margin-bottom: 100px;
  }
  &__p {
    color: $greymax;
  }
}

.form h2 {
  text-align: center;
  color: $greymax;
  text-shadow: 0 1px 0 white;
}

.input {
  height: 50px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  border-radius: 13px;
  padding-left: 20px;
  margin-bottom: 20px;
  outline: none;
  @include onTablet {
    margin-right: 20px;
    height: 60px;
    font-size: 15px;
  }
  @include onDesktop {
    &:hover {
      border: 1px solid $greymedium;
    }
  }
}
.formButton {
  width: 100%;
  height: 50px;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $greymedium;
  border-radius: 15px;
  color: #fff;
  flex-wrap: wrap;
  cursor: pointer;
  @include onTablet {
    height: 60px;
    width: 700px;
    font-size: 15px;
  }
  @include onDesktop {
    &:hover {
      background-color: $greymax;
      transition: 0.3s;
    }
  }
}

.logInFormButton {
  margin-bottom: 10px;
}

.form-wrap {
  @include onTablet {
    display: flex;
    margin: 50px 0;
    width: 100%;
  }
}

.iPad {
  @include onTablet {
    margin-bottom: 200px;
  }
}

.inputError {
  border: 1px solid #F67280;
}

.form__login-p {
  color: $greymedium;
  margin: 5px;
  font-size: 12px;
  @include onDesktop {
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}